<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pasek z przyciskami</title>
    <style>
        .button-bar {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            background-color: #F1F1F1;
        }

        .button-bar button {
            margin: 0 10px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #4CAF50;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="button-bar">
    <ul>
        <li><a href="{% url 'Index' %}">index </a></li>
        <li><a href="{% url 'publisher_list' %}">wydawcy</a></li>
        <li><a href="{% url 'publisher_add' %}">dodaj wydawce</a></li>
        <li><a href="{% url 'categories_list' %}">kategorie</a></li>
        <li><a href="{% url 'category_add' %}">dodaj kategorie</a></li>
    </ul>
</div>
<div>
    {% block zawartosc %}
        ala ma kota
    {% endblock %}
<div>
Publishers: {{ pc }}
  
</div>
</div>
</body>
</html>