{% extends 'base.html' %}
{% block zawartosc %}
    <ul>
        <li>{{ book.title }}</li>
        <li>{{ book.year }}</li>
        <li>{{ book.publisher }}</li>
        <li>{{ book.author }}</li>
        <li>kategorie:
            <ul>
                {% for cat in book.categories.all %}
                    <li>{{ cat }}</li>
                {% endfor %}

            </ul>
        </li>
        <li>
            komentarze:
            <ul>
                {% for comment in book.comment_set.all %}
                    <li>{{ comment.date }}
                        <p>{{ comment.content }}</p>
                        {{ comment.user.username }} </li>

                       <a href="{% url 'edit_comment' comment.id %}"> <button>Edit</button></a>

                {% endfor %}
            </ul>
        </li>
    </ul>
    {% if user.is_authenticated %}
      {% include 'basic_form.html' %}
    {% endif %}
{% endblock %}